# macOS garbage
.DS_Store

.vscode

# binaries
client_*
client
server_*
server
*.out

build

# gdb
.gdb_history

# core dump
core

# objects
*.o

#doxy files
html
latex

# local storage
users.txt
*.db

# auxiliary stuff
aux

# misc
NOTES
TODO
scp.sh
fsm_design
docs/demo.png
